## Logs
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

**/.changeset
**/.dockerignore
**/.git
**/.github
**/.vscode
**/.DS_Store
**/.env
**/.env.*
**/.mergify.yml
**/.next
**/.swc
**/.turbo
**/.yarn
**/CHANGELOG.md
**/coverage
**/dist
**/*Dockerfile*
**/LICENSE
**/node_modules
**/README.md
**/out
