# This is a sample .env file for use in local development.
# Duplicate this file as .env in the root of the project
# and update the environment variables to match your
# desired config
#
# See the README for full descriptions of each of the
# available configurations.

NEXT_PUBLIC_GRAPHQL_URL=
NEXT_PUBLIC_GRAPHQL_WS=
NODE_ENV=development
PORT=3000
NEXT_PUBLIC_CHAIN_TYPE=
NEXT_PUBLIC_KEPLR_CHAIN_ID=
NEXT_PUBLIC_KEPLR_CUSTOM_CHAIN_INFO=
NEXT_PUBLIC_KEPLR_LCD_URL=
NEXT_PUBLIC_NETWORK_NAME=
NEXT_PUBLIC_RPC_WEBSOCKET=
NEXT_PUBLIC_WC_BRIDGE_URL=
PROJECT_NAME=web
