# See https://prettier.io/docs/en/ignore.html for more about ignoring files.

# dependencies
node_modules/

# next.js generates its own .tsbuildinfo at .next/cache
**/.tsbuildinfo
.eslintcache

# testing
coverage/

# next.js
.next/
out/
build/
dist/
.swc/

# misc
.DS_Store
*.pem

# debug
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env.*
!.env.sample

# turbo
.turbo/

# vercel
.vercel/
# vercel config, generated via vercel.js
vercel.json

# Sentry
.sentryclirc

# WebStorm
.idea/

# Visual Studio Code
.vscode/

# Yarn Berry
.pnp.*
.yarn/
.yarnrc.yml

# Playwright
test-results/
playwright-report/
playwright/.cache/

# Next.js standalone script
server.js
test.js

**/src/graphql/*
