html {
  font-size: 16px;
  box-sizing: border-box;
  font-family: 'Hind Madurai', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* tamil */
@font-face {
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/hindmadurai/v11/f0Xx0e2p98ZvDXdZQIOcpqjX4IcCU-MkOKQC.woff2)
    format('woff2');
  unicode-range: U+0964-0965, U+0B82-0BFA, U+200C-200D, U+20B9, U+25CC;
}
/* latin-ext */
@font-face {
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/hindmadurai/v11/f0Xx0e2p98ZvDXdZQIOcpqjX-IcCU-MkOKQC.woff2)
    format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113,
    U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/hindmadurai/v11/f0Xx0e2p98ZvDXdZQIOcpqjX9ocCU-MkOA.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  font-family: 'Hind Madurai', sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #56b4e9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Hind Madurai', sans-serif;
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 2rem;
  letter-spacing: 0.25px;
}

h2 {
  font-size: 1.5rem;
  letter-spacing: 0px;
}

h3 {
  font-size: 1.25rem;
  letter-spacing: 0.15px;
}

h4 {
  font-size: 1rem;
  letter-spacing: 0.15px;
}

h5 {
  font-size: 0.875rem;
  letter-spacing: 0.1px;
  font-weight: 500;
}

h6 {
  font-size: 0.75rem;
  letter-spacing: 0.1px;
  font-weight: 500;
}

p {
  font-size: 1rem;
  white-space: pre-wrap;
  margin: 0px;
}

caption {
  font-size: 0.75rem;
  letter-spacing: 0.4px;
}

button {
  font-size: 0.875rem;
  letter-spacing: 1.25px;
  text-transform: none;
}

svg {
  fill: #999999;
}

.scrollbar::-webkit-scrollbar {
  display: none;
}
