## Logs
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

**/.dockerignore
**/.git
**/.github
**/.vscode
**/.DS_Store
**/.env
**/.env.*
**/.mergify.yml
**/.next
**/.swc
**/.turbo
**/CHANGELOG.md
**/coverage
**/dist
**/*Dockerfile*
**/LICENSE
**/node_modules
**/README.md
**/out

.changeset
.yarn/
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
